body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #434455;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}


ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}



.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #E7E9FC;
}

header .container {
    display: flex;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo-header {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-black {
    color: #2E2F42;
}

.page-nav-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.page-nav-item-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: inherit;
}

.page-nav-item-link:hover,
.page-nav-item-link:focus {
    color: #404BBF;
}


.contacts {
    font-style: normal;
    margin-left: auto;
    padding: 24px 0;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-item {
    display: list-item;
    text-align: -webkit-match-parent;
}

.contacts-item-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: inherit;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-family: inherit;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

}

.order-button {
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    margin: auto;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.order-button:hover,
.order-button:focus {
    background: #404BBF;
}


.our-strengths {
    background: #FFF;
    padding: 120px 0;
}

.our-strengths-list {
    display: flex;
    gap: 24px;
}

.our-strengths-item {
    width: calc((100% - 72px) / 4);
}


.strengths-title {
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.sub-strength {
    margin-bottom: 8px;
}

.strengths {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.our-team {
    background: #F4F4FD;
    padding: 120px 0;
}

.our-team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}


.our-team-item {

    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-container {
    padding: 32px 0;
}

.sub-team {
    margin-bottom: 8px;
    text-align: center;
}

.txt-team {
    text-align: center;
}

.portfolio {
    background: #FFF;
    padding: 120px 0;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);

}

.portfolio-container {
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    border-top: none;
}

.sub-portfolio {
    margin-bottom: 8px;
}



.footer {
    background: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}



.logo-footer {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white {
    color: #f4f4fd
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}